{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
    <link rel="stylesheet" href="{% static 'css/show.css' %}">

</head>

<body>
    <h2>📚 Book Store Records</h2>
    <table>
        {% if key1 %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>Book Pages</th>
                <th>Book Price</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for i in key1 %}
            <tr>
                <!-- refer to models.py -->
                <td>{{i.id}}</td>
                <td>{{i.Bookname}}</td>
                <td>{{i.Bookauthor}}</td>
                <td>{{i.Bookpage}}</td>
                <td>{{i.Bookprice}}</td>
                <td>
                    <form name="EditForm" action="{% url 'editview' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form name="DeleteForm" action="{% url 'delete' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</body>

</html>